/* Temp CSS  
#hd, #bd{
	min-height:95px;
}*/
#hd {
	background-image:url(../img/imgLgLogo.png);
	background-repeat:no-repeat;
	height:117px;
}
.yui-u{
	min-height:100px;
}
#ft {
	height:25px;
	margin-top:10px;
}


/*********************************************************************************/


.homebg {
	background-color:#cc0000;
	margin-left:5px;
}

/*  CSS  */
body {
	background-image:url(../img/bgGray.jpg);
}

body.noImg {
	background-image:none;
}
.clear {
	clear:both;
}

#bd{
background-color:#fff;
	border:1px solid #b7b7b7;

}
#bd.temp2{
	background-image:url(../img/bgStripes.png);
}
#ncsuFt {
	color:#9A9A9A;
	font-size:1.7em;
}
#ncsuFt span {
font-weight:bold;
}
#address {
	font-family:Georgia,"Nimbus Roman No9 L",serif;
	margin:10px 0 0 550px;
}

#address li {
	padding-top:30px;
	color:#333;
	width:200px;
	float:left;
}


/*  NCSU bar */

#ncsuBar {
	width:100%;
	height:20px;
	background-color:#cc0000;
	margin: 0 0 5px 0;
	z-index:99;

}
#ncsuBar h1 {
	color:#fff;
float:left;
}
#ncsuBar li {
display:inline-block;
}
#ncsuBar li a {
color:#fff;
margin:0 5px 0 5px;
}
#topNav ul {
margin:0 auto 0 auto;
width:974px;

}
/** Home Page Icons **/

#ltContent {
	min-height:350px;
}
#rtContent {
	min-height:350px;
}
.ltIcons {
	width:300px;
	height:150px;
	margin:10px 0 0 25px;
}
.rtIcons {
	width:300px;
	height:150px;
	margin:10px 0 0 5px;
}
div.unitInfo{
	color:#fff;
	width:300px;
	margin:3px 0 10px 5px;
}
div.unitInfoLt{
	color:#fff;
	width:300px;
	margin:3px 0 10px 25px;
}
/** Social Media **/

.socialIcons {
	float:right;
}
.socialIcons li {
	margin-bottom:5px;
}

/** Side Navigation **/

#sideNav {
	font-size:.92em;
	margin:10px 0px 5px 10px;
}

#sideNav h1{
	color:#fff;
	border:1px solid #ccc;
	background-color:#cc0000;
	font-size:1em;
	font-weight:bold;
	padding:4px;
	margin:0 -10px 10px -15px;
}
	
#sideNav ul{
	margin:0 0 20px 5px;
}

#sideNav li {
	margin:0 0 10px 0;


}
#sideNav li a{
	margin:0px;
	border-left:5px solid #999;
	font-weight:bold;
	color:#cc0000;
	padding:4px;
	text-decoration:none;
}

#sideNav li a.selected , #sideNav li a:hover.selected {
	background:#cc0000;
	color:#fff;
	border:1px solid #cc0000;
	border-left:5px solid #000;
	cursor:text;
 }
#sideNav li a:hover{
	color:#000;
	border-left:5px solid #000;
}

/* NCSU Footer */

#ft {
border-top:4px solid #cc0000;
}
#ft ul {
border-top:2px solid #fff;
background:url("../img/bgFoot.gif") repeat-x scroll 0 0 #CC0000;
margin:2px 20px 0 0;
padding:17px 0 10px;
width:100%;
}
#ft li {
display:inline-block;
}
#ft li a {
color:#fff;
margin:0 5px 0 5px;
}
#ncsuFt{
background:url("../img/ncsu.gif") no-repeat;
margin:15px 0 0 0;
}
#ncsuFtNav ul{
font-family:"Times New Roman",Georgia,Serif;
font-size:1.2em;
border-top:none;
background-color:#fff;
background-image:none;
margin:0 20px 0 0;
padding:17px 0 10px;
}
#ncsuFtNav li a {
text-decoration:none;
color:#cc0000;
margin:0 5px 0 5px;
}
#ncsuFtNav li a:hover {
text-decoration:underline;
}
/* Site Items */
#siteBody{
	font-family:Verdana, Helvetica, Arial, sans-serif;
	min-height:400px;
	margin:5px 5px 5px 0;
	width:98%;
	color:#383838;
	font-size:85%;
	line-height:1.7em;
}

#siteBody h1 {
	margin:20px;
	font-size:1.7em;
}
#bodyContent {
	min-height:350px;
	background-color:#fff;
	margin:10px 0 10px 10px;
}
#siteBody h2{
	color:#cc0000;
	font-family:Georgia,"Nimbus Roman No9 L",serif;
	text-transform: uppercase;
	font-size:1em;
	font-weight:bold;
	margin:10px 0 1px 0;
}
#siteBody p a {
	color:#cc0000;
}
#siteBody p a:hover {
	text-decoration:none;
}
#siteBody p {
	margin-bottom:15px;
}
#tabContent {
	min-height:350px;
	background-color:#fff;
	margin:10px 0px 5px 0;
}
/* Staff Tab */
.staff {
	width:350px;
	height:100px;
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
}
.staff strong {
	font-weight:bold;
	color:#cc0000;
}
.staff img {
	float:left;
}
/* Tab Sytles */
#tabs {
	min-height:450px;
}
/* Page Nav */
#body_activities li a.selected{
	background-color:#ccc;
}
/* Page Titles */
#pageInfo {
	margin: 10px 0 20px 0;
	color:#fff;
	font-family:"Times New Roman",Georgia,Serif;
	display:block;
	height:83px;
	padding-left:145px;
	background: url("../img/pageUnits.png") no-repeat top left;	
}
#pageInfo li {
	font-size:1.2em;
}
#pageInfo li.pageUnit{
	font-size:2.5em;
	margin-bottom:5px;
	padding-bottom:10px;
	border-bottom:1px solid #fff;
}
/*Samples

#siteBody ul.cinema{ background-position: 0 0; width: 128px; height: 75px; } 
#siteBody ul.cinema2{ background-position: 0 -125px; width: 128px; height: 75px; } 
#pageInfo ul.cinema1 { background-position: 0 -250px; width: 128px; height: 75px; } */

#pageInfo.activities { background-position: 0 0;  } 
#pageInfo.cinema { background-position: 0 -92px;  } 
#pageInfo.glbt { background-position: 0 -184px;  } 
#pageInfo.paf { background-position: 0 -276px;  } 
#pageInfo.uab { background-position: 0 -368px;  } 




.staff {
	float:left;
}


/* Misc */
.hideDiv {
	display:none;
}